<section class="portfolio">
  <div class="container">
    <div class="portfolio__list">

      <article class="portfolio__item portfolio__item--left" data-speed=".9">

        <img class="portfolio__picture" src="./assets/img/work/1.jpg">
        <img class="portfolio__picture" src="./assets/img/work/2.jpg">

        <div class="portfolio__block">
          <h2 class="portfolio__heading">Creative floating scroll with amazing parallax effect</h2>
          <p class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amount
            scrolling.</p>
        </div>

      </article>

      <article class="portfolio__item portfolio__item--right" data-speed="1.1">

        <div class="portfolio__block">
          <h2 class="portfolio__heading">Creative floating scroll with amazing parallax effect</h2>
          <p class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>

        <img class="portfolio__picture" src="./assets/img/work/4.jpg">
        <img class="portfolio__picture" src="./assets/img/work/5.jpg">
        <img class="portfolio__picture" src="./assets/img/work/3.jpg">

      </article>

    </div>
  </div>
</section>
